# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env/

# =========================
# DJANGO
# =========================
*.log
db.sqlite3
media/

# =========================
# ENV VARIABLES
# =========================
.env
.env.*

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / COVERAGE
# =========================
htmlcov/
.coverage
.pytest_cache/

# =========================
# BUILD
# =========================
build/
dist/
*.egg-info/

# =========================
# MYPY / TYPE CHECK
# =========================
.mypy_cache/

# =========================
# CACHE
# =========================
.cache/