<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>

    <style>
        body { font-family: Arial; text-align: center; margin: 20px; }

        form {
            display: inline-block;
            text-align: left;
        }

        input {
            padding: 8px;
            margin: 5px;
        }

        .btn {
            padding: 8px;
            background: green;
            color: white;
            border-radius: 8px;
            border: none;
        }
    </style>
</head>

<body>

{% include "partials/navbar.html" %}

<h1>Criar Conta</h1>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Usuário" required><br>
    <input type="password" name="password" placeholder="Senha" required><br>
    <button class="btn">Cadastrar</button>
</form>

</body>
</html>